body{ 
    position: relative;
    width: 50%;
    height: 5775px;
    background: #FFFFFF;
}
.header{
    position: relative;
}

.curl{
    background-color: black;
    border-radius: 5px;
    color: #FFFFFF;
    width:auto;
    height: 40px;
}

.curl-text{
    margin-top:6px;
    position: absolute;
    margin-left: 4px;
}

.curl-body{
    margin-top:5px;
}

.curl-json{
    background-color: black;
    color:white;
    border-radius: 5px;
    margin-bottom: 16px;
}

.text{
    color:#8fdc33
}